.container-cards h2 {
text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.card img {
  height:120px;
  width:300px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

