.footer {
  text-align: center;
  padding: 30px;
  background-color: #2C2B2B;
}

.footer a {
  padding-left: 0px;
  font-size: 30px;
  margin: 0px auto;
  padding: 0px 20px;
  color: #2CA1EF;
}

.footer a:hover {
  color:#98c5e2;
}

.footer p {
  font-size: 15px;
  font-family: Open Sans;
  color:#6B6C6C;
}


